@media all and (max-width: 1300px) {
  .list-sertif {
    width: 50%;
  }
}

@media all and (max-width: 670px) {
  .carousel-item img {
    margin-top: 30px;
  }

  .list-sertif {
    width: 100%;
  }

  .profile-content p{
    font-size: 10px;
  }
}

/* button to top */
#btn-to-top {
  position: fixed;
  top: 80%;
  right: 0;
  width: 45px;
  font-size: 20px;
  background-color: rgba(25,59,85, 0.9);
  border-radius: 48%;
  margin-right: 20px;
  color: white;
}

#btn-to-top:hover {
  background-color: rgba(25,59,85, 1);
  color: white;
  transition: all 0.5s;
}

.home-icon {
  color: #193b55;
  font-size: 80px;
}

.nav-item:hover {
  color: #193b55;
}

.dropdown-menu {
  border-radius: 7px;
  border: none;
}

.dropdown-item:hover {
  background-color: #f4f4f5;
  color: #193b55;
}

.dropdown-item:active {
  color: #193b55;
}

.btn-master {
  border-radius: 50px;
  padding: 7px 25px;
  border: #193b55;
  border: #193b55;
  background-color: #c5ced4;
  color: black;
}

.btn-master:hover {
  background-color: #235074;
}

/* gambar responsive */
.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.img-respon {
  object-fit: cover;
}

/* content profile */
.img-profil-page {
  width: 90%;
  margin-bottom: 25px;
}

.profile-content p{
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
}

.profile-content h2 {
  margin-top: 18px;
}

.profile-content h4 {
  margin-top: 12px;
}

.profile-content ul {
  list-style-type: decimal;
  padding-left: 40px;
}

.btn-primary {
  background-color: #142f43;
  border: #142f43;
}

.btn-primary:hover {
  background-color: #193b55;
  border: #193b55;
}

.btn-lg {
  color: #142f43;
  border-color: #142f43;
}

.btn-lg:hover {
  background-color: #193b55;
  border: #193b55;
}

/* collapse read more */
.card-text {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  color: #87899c;
  font-weight: bold;
  text-decoration: none;
}

.read-more:hover {
  color: #9598b1;
  font-weight: bold;
  cursor: pointer;
}

.answer {
  display: none;
}

.base-login {
  background-color: #417da5;
}

.btn-login {
  border-radius: 50px;
  padding: 7px 25px;
  background-color: #235074;
}

.btn-login:hover {
  background-color: #295d88;
}

.forgot-psw {
  color: #9598b1;
  font-size: 17px;
  text-decoration: none;
}

.span-signup {
  text-decoration: none;
}

.form-control-user {
  border-color: #b9dbf5;
  border-radius: 5px;
  background-color: honeydew;
}

.form-control-user::placeholder {
  color: #9598b1;
}

/* #visibilityBtn {
  position: absolute;
  right: 61px;
  top: 31%;
  cursor: pointer;
  color: #b9dbf5;
} */

/* responsive maps */
.iframe-container {
  position: relative;
  width: 95%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
